---
import '@/styles/globals.css'
import Note from '@/components/ui/music/Note'
import { getMidiNoteInfo } from '@/lib/utils/music/notes'

const testNote = getMidiNoteInfo(69)

console.log(testNote)
---
<html>
  <body>
    <h1>Hello, World!</h1>
  <Note note={testNote} />
  </body>
</html>
<style>
  h1 {
    color: orange
  }
</style>
