---
import '@/styles/globals.css'
import { getMidiNoteInfo } from '@/lib/utils/music/notes'
import Octave from '@/components/ui/keyboard/Octave'
import Keyboard from '@/components/ui/keyboard/Keyboard'

const testNote = getMidiNoteInfo(1)

---

<html>
  <body>
    <div class="min-w-screen min-h-screen flex items-center justify-center">
    <Keyboard />
    </div>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
