---
import '@/styles/globals.css'
import { getMidiNoteInfo } from '@/lib/utils/music/notes'
import Octave from '@/components/ui/keyboard/Octave'

const testNote = getMidiNoteInfo(1)

console.log(testNote)
---

<html>
  <body>
    <div class="min-w-screen min-h-screen flex items-center justify-center">
      <Octave />
      <Octave />
    </div>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
