---
import '@/styles/globals.css'
import Keyboard from '@/components/ui/keyboard/Keyboard'

---

<html>
  <body>
    <div class="min-w-screen min-h-screen flex items-center justify-center">
    <Keyboard />
    </div>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
