---
import '@/styles/globals.css'
import ChordSelectorPage from '@/components/pages/ChordSelectorPage'
---

<html>
  <body>
    <ChordSelectorPage client:load />
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
